{% extends "layout.html" %}

{% block main %}

    <div class="row">
        <div class="col-1">
        </div>
        <div class="col">
            <h1>57 Quotes</h1>
            <p>The wisest words from the greatest minds</p>
        </div>
        <div class="col-1">
        </div>
    </div>

    <div class="row" style="margin-top: 20px;">
        <div class="col-1">
        </div>

        <div class="col-10">
            <div class="quote-card">
                <img class="teacher-image" src="{{ image }}">
                <p>
                    {{ quote }}
                </p>
                <p>
                    <strong>{{ teacher }}</strong>
                </p>
            </div>
        </div>

        <div class="col-1">
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="col-1">
        </div>

        <div class="col-10">
            <h6>
                Reload the page to select a random quote<br>
                (F5 or CTRL + R)
            </h6>
        </div>

        <div class="col-1">
        </div>
    </div>
{% endblock %}