<!doctype html>

<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        <link href="/static/styles.css" rel="stylesheet">

        <link href="/static/media/logo.png" rel="icon">

        <title>57 Quotes</title>

    </head>

    <body">

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

        <main class="container p-5">
            {% block main %}{% endblock %}
        </main>

    </body>

    <footer class="bg-light text-center text-lg-start" style="margin-top: 5%;">

        <div class="container p-4" style="margin-bottom: 50px;">
            <div class="row">
                <div class="col" style="text-align: left;">
                    <h5 class="text-uppercase">About</h5>
                    <p>
                        A site where it randomly displays a quote from an SMAN 57 teacher.
                    </p>
                    <ul>
                        <li><a href="https://www.youtube.com/watch?v=iZmqhQ8myGY" target="_blank">Monke</a></li>
                        <li><a href="https://www.youtube.com/watch?v=e0hp-UvFffg" target="_blank">Willem Dripfoe</a></li>
                        <li><a href="https://www.youtube.com/watch?v=033FInn1wH8" target="_blank">Holy church music</a></li>
                    </ul>
                    <p>
                        Meet the amazing people who inspired me to make this whole thing: <a href="http://20101604.siap-sekolah.com/data-siap/guru-daftar/" target="_blank">SMAN 57 staff list</a>.
                    </p>
                </div>
                <div class="col" style="text-align: right;">
                    <h5 class="text-uppercase">SMAN 57 Jakarta</h5>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15866.68969506194!2d106.7563867!3d-6.1745918!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa74dadab9dbe76a4!2sSenior%20High%20School%20State%2057%20of%20Jakarta!5e0!3m2!1sen!2sid!4v1641213407048!5m2!1sen!2sid" width="85%" height="100%" style="border:10;" allowfullscreen="" loading="lazy"></iframe>
                    <!-- <img src="../static/media/sma57.jpg" style="height: auto; width: 100%;"> -->
                </div>
            </div>
        </div>
      
        <div class="text-center p-3" style="background-color: #003371; color: white;">
            Feeding the soul is as important as feeding the feeble body. Where we would feed our physical body with food, we shall feed our soul with something a bit more abstract - music. And because of that very reason do I feel that I have the obligation to provide you with the soul's food.
            <a class="text-light" href="https://drive.google.com/file/d/1twy5xNYIgXX6CB_tvbS-maQJ6glRFW2h/view" target="_blank">Music in which I hope will feed your soul</a>.
            <br><br><br>
            <a class="text-light" href="https://forms.gle/YeHegjJw8yUUVxiN6" target="_blank">Submit quotes!</a>
        </div>
    </footer>
</html>